
body {
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; 
    color: #906b6b;
}

:root {
    --primary-color: #514444; 
    --secondary-color: #fdfdfd; 
}

.landing_page_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--secondary-color);
    
}

/* Header styling */
.landing_page_header {
    background-color: var(--primary-color);
    padding: 20px 0;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}


/* Navigation Links */
nav a {
    margin: 0 10px;
    color: var(--secondary-color);
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline;
}
.welcome_view {
    position: relative; /* Makes this the reference for absolute positioning */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%; 
   
}
.welcome_box {
    position: absolute; 
    left: 0; 
    top: 140px; 
    margin: 10px; 
    padding: 15px;
    /* background-color: rgba(0, 0, 0, 0.5);  */
    color: #ffffff;
    font-size: 2.2em;
    font-weight: bold;
    text-align: left;
    width: calc(50% - 40px); 
    box-sizing: border-box;
    /* border: 1px solid rgb(132, 30, 9); */
}
.welcome_box p {
    text-align: center; 
}

.header_image {
    width: 100%; 
    max-height: 95vh;
    border-radius: 8px;

}

.scroll_down_indicator {
    position: absolute;
    bottom: 100px; 
    left: 50%;
    transform: translateX(-50%);
    width: 30px; 
    height: 30px;
    font-size: 100px; 
    color: #ffffff; 
}

.scroll_down_indicator::after {
    content: '⌄'; 
    display: block;
    text-align: center;
    color: inherit;
}

/* Main Content Area */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.business_logo {
    max-height: 60px; 
    width: auto; 
    vertical-align: middle; 
}

.service_view {
    position: relative; /* Makes this the reference for absolute positioning */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%; 
}

.services_section {
    position: absolute;
    top: 50%; 
    left: -34%; 
    transform: translateY(-50%); 
    width: 74%; 
    height: 109%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    text-align: left; 
    border: 1px solid rgb(132, 30, 9);
    z-index: 2;
}

.service_button {
    background-color: #fdfdfd; /* Light background color */
    color: #6a2209; /* Text color as specified */
    border: 2px solid #6a2209; /* Border color to match the text */
    padding: 10px 20px; /* Adjust padding to your preference */
    font-size: 16px; /* Adjust font size to your preference */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
    border-radius: 5px; /* Optional: Adds rounded corners */
    margin: 5px; /* Space between buttons and other elements */
}

.service_button:hover {
    background-color: #6a2209; /* Button background color on hover */
    color: #fdfdfd; /* Button text color on hover */
    border-color: #fdfdfd; /* Optional: Changes border color on hover */
}

.about_section, .booking_section {
    width: 80%;
    margin: 20px 0;
    text-align: center;
}

/* Booking Section with Image */
.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book_image {
    width: 110%; /* Ensure the image stretches to cover the container width */
    max-height: 95vh;
    position: relative; /* Position it absolutely to fit the container */
    top: -20px;
    left: 320px;
    border-radius: 8px;
    z-index: 1
}

@media (min-width: 768px) {
    /* For larger screens, adjust the layout */
    .booking {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    
}